<h1>Listing customers</h1>

<table border =1>
  <thead>
    <tr>
	  <th>For pets </th>
	  <th>Appointments</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
	     <td><a href = pets/new/?customer_id=<%=customer.id%> > Add pet </a> </td>
		 <td><a href = appointments/new/>New Appointment</td>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
